[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
jupyter = "*"
pandas = "*"
plotly = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
seaborn = "*"
matplotlib = "*"
scikit-learn = "*"
ipykernel = "*"
grequests = "*"
pycountry = "*"
pexpect = "*"
wordcloud = "*"
cloudscraper = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
